<html>
  <head>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>

    <!-- <canvas id="canvas" width="2592" height="1944"> -->
    <!-- <canvas id="canvas" width="648" height="486"> -->
    <!-- </canvas> -->
  	
  	<div align="center">
  		<a href="#" class="myButton" id="solve">Solve</a>
  		<a href="#" class="myButton" id="shuffle">Shuffle</a>
      <!-- <a href="#" class="myButton" id="rotate">Rotate</a> -->
  	</div>

  	<div align="center" style="padding:10px; height:0%" class="table">
      <div class="table-cell" style="padding-right:50px">
        <a href="#" class="myButton" id="prev" style="float:right">Prev</a>
      </div class="inner">
  		<div class="grid table-cell" id="grid"> </div>
      <div class="table-cell" style="padding-left:50px">
        <a href="#" class="myButton" id="next" style="float:left">Next</a>
      </div>
  	</div>
    <div align="center">
    </div>

    
    <script src="javascripts/jquery-2.2.1.min.js"></script>
    <script src="javascripts/exif.min.js"></script>
    <script src="javascripts/15puzzle.js"></script>
  </body>
</html>