<html>
  <head>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>

    <!-- <canvas id="canvas" width="2592" height="1944"> -->
    <!-- <canvas id="canvas" width="648" height="486"> -->
    <!-- </canvas> -->
  	
  	<div align="center">
  		<a href="#" class="myButton" id="solve">Solve</a>
  		<a href="#" class="myButton" id="shuffle">Shuffle</a>
  	</div>

  	<div align="center" style="padding:10px">
  		<div class="grid" id="grid"> </div>
  	</div>

    
    <script src="javascripts/jquery-2.2.1.min.js"></script>
    <script src="javascripts/15puzzle.js"></script>
  </body>
</html>